.education{
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(198, 201, 204);
}
.educationBlog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    
}

/* .activitiesContainer{
    width: 100%;
    border: 2px solid red;
   display: block;
    
    
} */

