.education{
    width: 100%;
    overflow-x: hidden;
}
.educationBlog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 70vh;
    border: 2px solid forestgreen;
    
}

.activitiesContainer{
    width: 100%;
    /* border: 2px solid red; */
   display:flex;
   justify-content: flex-start;
   align-items: flex-start;
  
    
    
}

