.card{
    width: 100%;
    margin: .5rem;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staffImage{
    margin-top: .5rem;
    justify-content: center;
   
}
.staffImage img{
   width:100% ;
    height: 160px;
    border-radius: 50%;
    
}
@media only screen and (max-width: 400px) {
    .asideImage img{
        width: 100%;
        height: 20%;
    }

  
  }