.buttonContainer{
    margin: 1rem;
}

.donateContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 201, 204);
    border:  1px solid rgb(245, 223, 223);
}

